* {
  box-sizing: border-box;
}

body {
  background: url("https://images-ext-1.discordapp.net/external/646raGKA70fK1jgF01snFfnODUMTE66tLVykC4g_8sQ/https/img.wallpapersafari.com/desktop/1680/1050/42/66/DxzrVf.png?width=1082&height=676");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  line-height: 1;
  font-family: "Patrick Hand", sans-serif;
  background-size: 100%;
}
.Score {
  text-align: left;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}
.ScoreTwo {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.ScoreTwo:hover {
  opacity: 50%;
}
p {
  text-align: right;
  font-size: 50px;
  color: #999;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

p strong {
  font-size: 14px;
  color: #777;
}

.cards {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.card-card {
  height: 220px;
  width: 150px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.card-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 3s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.card-card .front,
.card-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-card .front {
  background: #fff;
  transform: rotateY(180deg);
}

.card-card .back {
  background: url("https://images-ext-2.discordapp.net/external/NhpGH_59PRZNmJXZdYrPHmnIDgqZkpqCBM7DHELMQF4/https/i.pinimg.com/236x/2f/36/3d/2f363dbc64253af700abfe675c7e38d9--poker-night-card-deck.jpg");
  color: #d6aeb5;
  font-size: 100px;
  transition: 0.3s ease all;
  background-size: 100%;
}
/* #51dce0; */
.card-card .back:hover {
  background: #4b4c72;
  color: #fff;
  transform: scale(1.02);
  opacity: 0.5;
}
